<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <% rankings.forEach(message => { %>
      <% if (message.attachments.length > 0) { %>
        <p><%= message.attachments[0].url %></p>
      <% } %>
      <p><%= message.text %> - <%= message.name %> <strong>+<%= message.score %></strong></p>
    <% }) %>
  </body>
</html>